.calc__buttons {
    display: grid;
    grid-template-areas:
    "ac plus-minus persent division"
    "seven eigth nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid: gap 7px;
    justify-items: center; 
}